{% extends 'base.html.twig' %}

{% block title %}Ajouter personnage{% endblock %}

{% block javascripts %}
    <script src="AvataaarsJS-main/avataaars.js"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {{ form_start(form) }}
    <div class="form-presentation">
        <label for="">Nom : </label>
            {{ form_widget(form.nom) }}
    </div>
    <div class="form-presentation">
        <label for="">Date de naissance : </label>
            {{ form_widget(form.date_naissance) }}
    </div>
    <div class="form-presentation">
        <label for="">Description : </label>
            {{ form_widget(form.description) }}
    </div>
    <div class="form-presentation">
        <label for="">Niveau : </label>
            {{ form_widget(form.niveau) }}
    </div>
    <div class="form-presentation">
        <label for="">Experience : </label>
            {{ form_widget(form.experience) }}
    </div>
    <div class="form-presentation">
        <label for="">Nombre de cœur : </label>
            {{ form_widget(form.barre_vie) }}
    </div>
    <div class="form-presentation">
        <label for="">Type : </label>
            {{ form_widget(form.type_personnage) }}
    </div>


            <button type="submit">Suite</button>
        {{ form_end(form) }}
    <input type="button" value="Annuler" onclick="window.location.href='{{path('Home')}}';">
</div>
{% endblock %}