{% extends 'base.html.twig' %}

{% block title %}Ajouter avatar{% endblock %}

{% block header %}
        <h1 class="font">Étape 3</h1>
        <h1 class="font">Ajouter un personnage</h1>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste">
    <div class="cadre">
        {{ form_start(form) }}
            <div class="form-presentation">
                <label for="">Couleur de peau : </label>
                    {{ form_widget(form.skin) }}
            </div>
            <div class="form-presentation">
                <label for="">Cheveux/Chapeau : </label>
                    {{ form_widget(form.top) }}
            </div>
            <div class="form-presentation">
                <label for="">Couleur de cheveux : </label>
                    {{ form_widget(form.haircolor) }}
            </div>
            <div class="form-presentation">
                <label for="">Couleur de chapeau : </label>
                    {{ form_widget(form.hatcolor) }}
            </div>
            <div class="form-presentation">
                <label for="">Accessoire : </label>
                    {{ form_widget(form.accessories) }}
            </div>
            <div class="form-presentation">
                <label for="">Couleur de l'accessoire : </label>
                    {{ form_widget(form.accessories_color) }}
            </div>
            <div class="form-presentation">
                <label for="">Barbe/Moustache : </label>
                    {{ form_widget(form.facialhair) }}
            </div>
            <div class="form-presentation">
                <label for="">Couleur barbe/moustache  : </label>
                    {{ form_widget(form.facialhaircolor) }}
            </div>
            <div class="form-presentation">
                <label for="">Vêtement : </label>
                    {{ form_widget(form.clothing) }}
            </div>
            <div class="form-presentation">
                <label for="">Couleur vêtement : </label>
                    {{ form_widget(form.clothingcolor) }}
            </div>
            <div class="bouton-aerer">
                <button type="submit" class="input-bouton input-ajouter">Créer</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}