{% extends 'base.html.twig' %}

{% block title %}Ajouter personnage{% endblock %}

{% block javascripts %}
    <script src="AvataaarsJS-main/avataaars.js"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {{ form_start(form) }}
        <div class="form-presentation">
            <label for="">Point de Puissance : </label>
                {{ form_widget(form.puissance) }}
        </div>
        <div class="form-presentation">
            <label for="">Point d'Endurance : </label>
                {{ form_widget(form.endurance) }}
        </div>
        <div class="form-presentation">
            <label for="">Point d'Intelligence : </label>
                {{ form_widget(form.intelligence) }}
        </div>
        <div class="form-presentation">
            <label for="">Point de Charisme : </label>
                {{ form_widget(form.charisme) }}
        </div>
        <div class="form-presentation">
            <label for="">Point de Dextérité : </label>
                {{ form_widget(form.dexterite) }}
        </div>
        <div class="form-presentation">
            <label for="">Point de Sagesse : </label>
                {{ form_widget(form.sagesse) }}
        </div>

        <button type="submit">Suite</button>
    {{ form_end(form) }}
</div>
{% endblock %}