{% extends 'base.html.twig' %}

{% block title %}Modifier personnage{% endblock %}

{% block header %}
    <h1 class="font">Étape 1</h1>
    <h1 class="font">Modifier un personnage</h1>
    <input type="button" class="input-bouton input-effacer" value="Annuler" onclick="history.back()">
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste">
    <div class="cadre">
        {{ form_start(form) }}
            <div class="form-presentation">
                <label for="">Nom : </label>
                    {{ form_widget(form.nom) }}
            </div>
            <div class="form-presentation">
                <label for="">Date de naissance : </label>
                    {{ form_widget(form.date_naissance) }}
            </div>
            <div class="form-presentation">
                <label for="">Description : </label>
                    {{ form_widget(form.description) }}
            </div>
            <div class="form-presentation">
                <label for="">Niveau : </label>
                    {{ form_widget(form.niveau) }}
            </div>
            <div class="form-presentation">
                <label for="">Experience : </label>
                    {{ form_widget(form.experience) }}
            </div>
            <div class="form-presentation">
                <label for="">Nombre de cœur : </label>
                    {{ form_widget(form.barre_vie) }}
            </div>
            <div class="form-presentation">
                <label for="">Type : </label>
                    {{ form_widget(form.type_personnage) }}
            </div>
            <div class="bouton-aerer">
                <button type="submit" class="input-bouton input-modifier">Suite</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}