{% extends 'base.html.twig' %}

{% block title %}{% for personnage in personnages %}{{personnage.nom}}{% endfor %}{% endblock %}

{% block header %}
    {% for personnage in personnages %}
        <input type="button" class="input-bouton" value="Retour au menu" onclick="window.location.href='{{path('Home')}}';">
        <h1 class="font">{{personnage.nom}}</h1>
        <div>
            <input type="button" class="input-bouton input-modifier" value="Modifier" onclick="window.location.href='/character/edit/{{personnage.id}}';">
            <input type="button" class="input-bouton input-effacer" value="Effacer" onclick="window.location.href='/character/delete/{{personnage.id}}';">
        </div>
    {% endfor %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="liste">
    <div class="cadre-personnage">
        <div class="fiche-personnage">
            <div id="avataar" class="avatar"></div>
            {% for personnage in personnages %}
                <div class="description-personnage">
                    <p class="info-personnage">Type : {{personnage.typepersonnage}}</p>
                    <p class="info-personnage">{{personnage.description}}</p>
                    <p class="info-personnage">{{personnage.datenaissance.format('d F Y')}}</p>
                </div>
            </div>
                <div class="point-personnage">
                    <p class="info-personnage">NIVEAU : {{personnage.niveau}}</p>
                    <p class="info-personnage">EXP : {{personnage.experience}}</p>
                    <p class="info-personnage"><img src="{{ asset('Image/coeur.png') }}" class="coeur"> : {{personnage.barrevie}}</p>
                </div>
            <div class="fiche-personnage">
                {% for competence in competences %}
                <div>
                    <p class="info-personnage">FORCE : {{competence.puissance}}</p>
                    <p class="info-personnage">ENDURANCE : {{competence.endurance}}</p>
                    <p class="info-personnage">INTELLIGENCE : {{competence.intelligence}}</p>
                </div>
                <div>
                    <p class="info-personnage">CHARISME : {{competence.charisme}}</p>
                    <p class="info-personnage">DEXTÉRITÉ : {{competence.dexterite}}</p>
                    <p class="info-personnage">SAGESSE : {{competence.sagesse}}</p>
                </div>
                {% endfor %}
            </div>
            {% for avatar in avatars %}
            <script>
                let a = Avataaars.create({width: "10vw", height: "20vh", style: "transparent", clothingGraphic: "skull",
                                        skin: "{{avatar.skin}}",
                                        top: "{{avatar.top}}",
                                        hairColor: "{{avatar.haircolor}}",
                                        hatColor: "{{avatar.hatcolor}}",
                                        accessories: "{{avatar.accessories}}",
                                        accessoriesColor: "{{avatar.accessoriescolor}}",
                                        facialHair: "{{avatar.facialhair}}",
                                        facialHairColor: "{{avatar.facialhaircolor}}",
                                        clothing: "{{avatar.clothing}}",
                                        clothingColor: "{{avatar.clothingcolor}}"});
                document.getElementById('avataar').innerHTML = a;
            </script>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}