{% extends 'base.html.twig' %}

{% block title %}{% for personnage in personnages %}{{personnage.nom}}{% endfor %}{% endblock %}

{% block javascripts %}
    <script src="AvataaarsJS-main/avataaars.js"></script>
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {% for personnage in personnages %}
        <h2>{{personnage.nom}}</h2>
        <p>{{personnage.description}}</p>
        <p>{{personnage.datenaissance.format('d F Y')}}</p>
        <p>NIVEAU : {{personnage.niveau}}</p>
        <p>EXP : {{personnage.experience}}</p>
        <p>VIE : {{personnage.barrevie}}</p>
        <p>{{personnage.typepersonnage}}</p>
        {% for competence in competences %}
            <p>FORCE : {{competence.puissance}}</p>
            <p>ENDURANCE : {{competence.endurance}}</p>
            <p>INTELLIGENCE : {{competence.intelligence}}</p>
            <p>CHARISME : {{competence.charisme}}</p>
            <p>DEXTÉRITÉ : {{competence.dexterite}}</p>
            <p>SAGESSE : {{competence.sagesse}}</p>
        {% endfor %}
        <div id="avataar"></div>
        <script>
            let a = Avataaars.create();
            document.getElementById('avataar').innerHTML = a;
        </script>
        <input type="button" value="Retour au menu" onclick="window.location.href='{{path('Home')}}';">
        <input type="button" value="Modifier" onclick="window.location.href='/character/edit/{{personnage.id}}';">
        <input type="button" value="Effacer" onclick="window.location.href='/character/delete/{{personnage.id}}';">
    {% endfor %}
</div>
{% endblock %}